<div class="row">

    <div class="col-xs-12 col-md-6 mb-3 mt-3" *ngFor="let feed of feeds">

        <div class="card">
          <div class="img-wrapper">
            <img [src]="feed.imageUrl" class="card-img-top" alt="card-image">
            <p class="label">{{feed.location}}</p>

            <div class="buy-now" *ngIf="feed.price">
              <button class="btn btn-success" (click)="showAlert()">Buy Now</button>
              <p class="price">{{feed.price}}</p>
            </div>
          </div>

          <div class="card-body">
            <h2 class="headline">{{feed.heading}}</h2>
            <p class="offset">{{feed.offset}} </p>
            <p class="card-text">{{feed.description}}</p>
          </div>
        </div><!-- card-component -->
      
      </div><!-- column -->

</div><!-- row -->